@import url('https://fonts.googleapis.com/css?family=Alef:400,700&subset=hebrew');
@import "variables";
@import "mixins";
@import "grid";
@import "slider";
@import "boxes";
@import "parallax";
@import "header";
// General definitions
* {
    direction: rtl;
    font-family: Alef;
    box-sizing: content-box;
}